*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-my {
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  background: #000000;
  width: 400px;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background: #919090;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

button:hover,
button:focus {
  background: rgba(255, 255, 255, 0.9);
}